:root {
  /* SCSS RGB */
  --bluedark: rgba(68, 99, 168, 0.6);
  --button: rgba(217, 60, 215, 1);
  --lightBlue: rgba(82, 166, 207, 1);
  --purpleDark: rgba(68, 39, 121, 1);
  --mediumBlue: rgb(41, 54, 83);
  --schwartz: rgb(17, 21, 73);
  --orangelight: rgb(214, 124, 38);
  --navbar: rgba(214, 124, 38, 0.6);
  --brown: rgb(99, 59, 20);
  --brownshadow: rgba(48, 34, 19, 1);
  --white: rgb(242, 242, 242);
  --brownGrey: rgb(108, 73, 45);
  --lightOrange: rgb(240, 164, 96);
}

@media screen and (max-width: 1400px) {
  .section-troupe {
    height: 100%;
    margin: auto;
  }
  .section-troupe h1 {
    color: var(--lightOrange);
  }
  .section-troupe .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    border-radius: 2rem;
    background-color: var(--mediumBlue);
    margin-top: 2rem;
    padding: 0.8rem;
  }
  .section-troupe .section-container .paragraph {
    padding: 0.8rem;
  }
  .section-troupe .section-container .paragraph .troupe-title {
    text-align: center;
  }
  .section-troupe .section-container .paragraph .p-contact {
    width: 100%;
    text-align: center;
  }
  .section-troupe .section-container .paragraph .p-contact p {
    color: var(--lightOrange);
  }
  .section-troupe .section-container .contact-button {
    padding: 0.5rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }
  .section-troupe .section-container .contact-button a button {
    width: 100px;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 0.5rem;
    color: antiquewhite;
  }
  .section-troupe .recrute #troupe-desktop {
    display: none;
  }
  .section-troupe .recrute #troupe-mobile {
    display: flex;
  }
  .section-troupe .recrute #troupe-mobile img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .wall-of-fame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .wall-of-fame .photoDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1.3rem;
    padding: 1.2rem;
    width: 98%;
    padding: 0.5rem;
    background-color: rgb(76, 68, 122);
    border-radius: 2rem;
    border: 3px solid rgb(94, 82, 160);
  }
  .wall-of-fame .photoDisplay img {
    max-height: 130px;
    min-height: 120px;
    width: auto;
  }
}
@media screen and (min-width: 1401px) {
  #troupe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #troupe .section-troupe {
    height: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2.3rem;
  }
  #troupe .section-troupe h1 {
    color: var(--lightOrange);
  }
  #troupe .section-troupe .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    width: 90%;
    border-radius: 2rem;
    background-color: var(--mediumBlue);
  }
  #troupe .section-troupe .section-container .paragraph {
    padding: 0.8rem;
    width: 90%;
  }
  #troupe .section-troupe .section-container .paragraph #troupe-title {
    text-align: center;
    padding-bottom: 2rem;
  }
  #troupe .section-troupe .section-container .paragraph .p-contact {
    width: 100%;
    text-align: center;
  }
  #troupe .section-troupe .section-container .paragraph .p-contact p {
    color: var(--lightOrange);
  }
  #troupe .section-troupe .section-container .contact-button {
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
    text-align: center;
  }
  #troupe .section-troupe .section-container .contact-button a button {
    width: 150px;
    height: 75px;
    background-color: rgb(13, 87, 148);
    border: none;
    border-radius: 0.5rem;
  }
  #troupe .section-troupe .recrute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  #troupe .section-troupe .recrute #troupe-desktop {
    display: flex;
    margin: 2rem 0 2rem 0;
  }
  #troupe .section-troupe .recrute #troupe-desktop img {
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  #troupe .section-troupe .recrute #troupe-mobile {
    display: none;
  }
  #troupe .wall-of-fame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border: 10px solid rgb(13, 87, 148);
    border-radius: 2rem;
  }
  #troupe .wall-of-fame .photoDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2.3rem;
    padding: 1.2rem;
  }
  #troupe .wall-of-fame .photoDisplay img {
    max-height: 144px;
    min-height: 126px;
    width: auto;
  }
}/*# sourceMappingURL=troupeStyle.css.map */