:root {
    /* SCSS RGB */
    --bluedark: rgba(68, 99, 168, 0.6);
    --button: rgba(217, 60, 215, 1);
    --lightBlue: rgba(82, 166, 207, 1);
    --purpleDark: rgba(68, 39, 121, 1);
    --mediumBlue: rgb(41, 54, 83);
    --schwartz: rgb(17, 21, 73);
    //=======================================================
    --orangelight: rgb(214, 124, 38);
    --navbar: rgba(214, 124, 38, 0.6);
    --brown: rgb(99, 59, 20);
    --brownshadow: rgba(48, 34, 19, 1);
    --white: rgb(242, 242, 242);
    --brownGrey: rgb(108, 73, 45);
    --lightOrange: rgb(240, 164, 96);
}


@media screen and (max-width: 1400px) {
    // main {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 100vh;

        .section-troupe {
            height: 100%;
            margin: auto;

            h1 {
                color: var(--lightOrange);
            }

            .section-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: justify;
                border-radius: 2rem;
                background-color: var(--mediumBlue);
                margin-top: 2rem;

                .paragraph {
                    padding: 0.8rem;

                    .p-contact {
                        width: 100%;
                        text-align: center;

                        p {
                            color: var(--lightOrange);
                        }
                    }


                }

                .contact-button {
                    padding: 0.5rem;
                    transition: all 0.4s ease-in-out;


                    a {
                        button {
                            background-color: green;
                            border: none;
                            border-radius: 0.5rem;

                        }
                    }
                }

            }

            .recrute {
                #troupe-desktop {
                    display: none;
                }

                #troupe-mobile {
                    display: flex;
                    margin: 2rem 0 2rem 0;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    // }
}

@media screen and (min-width: 1401px) {
    .section-troupe {
        height: 80%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row ;


        h1 {
            color: var(--lightOrange);
        }

        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;

            border-radius: 2rem;
            background-color: var(--mediumBlue);


            .paragraph {
                padding: 0.8rem;
                width: 90%;

                .p-contact {
                    width: 100%;
                    text-align: center;

                    p {
                        color: var(--lightOrange);
                    }
                }


            }

            .contact-button {
                padding: 0.5rem;
                transition: all 0.4s ease-in-out;


                a {
                    button {
                        background-color: green;
                        border: none;
                        border-radius: 0.5rem;

                    }
                }
            }

        }

        .recrute {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            #troupe-desktop {
                display: flex;
                margin: 2rem 0 2rem 0;

                img {
                    width: 600px;
                    height: auto;
                    margin: auto;
                    border-radius: 1rem;
                    margin-bottom: 2rem;
                }
            }

            #troupe-mobile {
                display: none;
            }
        }

    }
}
   

    


