:root {
  /* SCSS RGB */
  --bluedark: rgba(68, 99, 168, 0.6);
  --button: rgba(217, 60, 215, 1);
  --lightBlue: rgba(82, 166, 207, 1);
  --purpleDark: rgba(68, 39, 121, 1);
  --mediumBlue: rgb(41, 54, 83);
  --schwartz: rgb(17, 21, 73);
  --orangelight: rgb(214, 124, 38);
  --navbar: rgba(214, 124, 38, 0.6);
  --brown: rgb(99, 59, 20);
  --brownshadow: rgba(48, 34, 19, 1);
  --white: rgb(242, 242, 242);
  --brownGrey: rgb(108, 73, 45);
  --lightOrange: rgb(240, 164, 96);
}

@media screen and (max-width: 1400px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .section-troupe {
    height: 100%;
    margin: auto;
  }
  main .section-troupe h1 {
    color: var(--lightOrange);
  }
  main .section-troupe .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    border-radius: 2rem;
    background-color: var(--mediumBlue);
  }
  main .section-troupe .section-container .paragraph {
    padding: 0.8rem;
  }
  main .section-troupe .section-container .paragraph .p-contact {
    width: 100%;
    text-align: center;
  }
  main .section-troupe .section-container .paragraph .p-contact p {
    color: var(--lightOrange);
  }
  main .section-troupe .section-container .contact-button {
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
  }
  main .section-troupe .section-container .contact-button a button {
    background-color: green;
    border: none;
    border-radius: 0.5rem;
  }
  main .section-troupe .recrute #troupe-desktop {
    display: none;
  }
  main .section-troupe .recrute #troupe-mobile {
    display: flex;
    margin: 2rem 0 2rem 0;
  }
  main .section-troupe .recrute #troupe-mobile img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1401px) {
  .section-troupe {
    height: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .section-troupe h1 {
    color: var(--lightOrange);
  }
  .section-troupe .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-radius: 2rem;
    background-color: var(--mediumBlue);
  }
  .section-troupe .section-container .paragraph {
    padding: 0.8rem;
    width: 90%;
  }
  .section-troupe .section-container .paragraph .p-contact {
    width: 100%;
    text-align: center;
  }
  .section-troupe .section-container .paragraph .p-contact p {
    color: var(--lightOrange);
  }
  .section-troupe .section-container .contact-button {
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
  }
  .section-troupe .section-container .contact-button a button {
    background-color: green;
    border: none;
    border-radius: 0.5rem;
  }
  .section-troupe .recrute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .section-troupe .recrute #troupe-desktop {
    display: flex;
    margin: 2rem 0 2rem 0;
  }
  .section-troupe .recrute #troupe-desktop img {
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .section-troupe .recrute #troupe-mobile {
    display: none;
  }
}/*# sourceMappingURL=troupeStyle.css.map */